<%-include("partials/header")%>
    <h1 class="text-center mt-3">Combinatorial Calculator</h1>
    <form action="/function-relation" method="POST">
        <div class="ml-3 mt-3">
            <label for="inputA">|A|=m=</label>
            <input id="inputA" type="number" name="input[A]" min="0" required>
            <label for="inputB">|B|=n=</label>
            <input id="inputB" type="number" name="input[B]" min="0"required>
        </div>

        <div class="ml-3 mt-3">
            <!-- Second table - Chap5 -->
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Formula</th>
                        <th scope="col">Result</th>
                        <th scope="col">Button</th>
                        <th scope="col">Order relevant</th>
                        <th scope="col">Repetition</th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>| A x B |</th>
                        <%if(crossResult){%>
                             <td><%=crossResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Relation from A to B</th>
                        <%if(relationResult){%>
                             <td><%=relationResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>One to One</th>
                        <%if(oneToOne!=null){%>
                             <td><%=oneToOne%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Onto functions</th>
                        <%if(ontoResult!=null){%>
                             <td><%=ontoResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>S(m,n)</th>
                        <%if(stirlingResult!=null){%>
                             <td><%=stirlingResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Eulerian Number A(m,n)</th>
                        <%if(eulaResult!=null){%>
                             <td><%=eulaResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
            </table>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
<%-include("partials/footer")%>