<%-include("partials/header")%>
    <form action="/function-relation" method="POST">
        <div class="mx-auto" style="width: 90%;">
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Formula</th>
                        <th scope="col" width="30%">
                            <div class="row">
                                <label for="inputA" class="col-sm-2">|A|=m=</label>
                                <input id="inputA" type="number" name="input[A]" min="0" class="form-control col-sm-3" style="height:1.5em" required>
                                <label for="inputB" class="col-sm-2">|B|=n=</label>
                                <input id="inputB" type="number" name="input[B]" min="0" class="form-control col-sm-3" style="height:1.5em" required>
                            </div>
                        </th>
                        <th scope="col"><button class="btn btn-light btn-sm" type="submit" value="Submit" value="all" name="action" style="width:10em;">Compute all</button></th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>| A x B |</th>
                        <%if(crossResult){%>
                             <td><%=crossResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="cross" name="action" style="width:10em;">Cross product</button></td>
                         <td class="memo"># Counting elements of the Cartesian product of A and B</td>
                    </tr>
                    <tr>
                        <th>Relation from A to B</th>
                        <%if(relationResult){%>
                             <td><%=relationResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="relation" name="action" style="width:10em;">Relation from A to B</button></td>
                         <td class="memo"># Counting binary relations from A to B</td>
                    </tr>
                    <tr>
                        <th>One to One</th>
                        <%if(oneToOne!=null){%>
                             <td><%=oneToOne%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="oneToOne" name="action" style="width:10em;">One to One</button></td>
                         <td class="memo"># Each element of B appears at most once as the image of an element of A<br>
                        <span style="text-decoration: underline;"><b># Restrictions : | A | <= | B |</b></span></td>
                    </tr>
                    <tr>
                        <th>Onto functions</th>
                        <%if(ontoResult!=null){%>
                             <td><%=ontoResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="onto" name="action" style="width:10em;">Onto functions</button></td>
                         <td class="memo"># Each element of B maps to at least one element of A<br>
                        <span style="text-decoration: underline;"><b># Restrictions : | A | >= | B |</b></span></td>
                    </tr>
                    <tr>
                        <th>S(m,n)</th>
                        <%if(stirlingResult!=null){%>
                             <td><%=stirlingResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="stirling" name="action" style="width:10em;">Stirling number of the second kind</button></td>
                         <td class="memo"># Distribute A distinct objects into B identical containers (None empty)<br>
                        <span style="text-decoration: underline;"><b># Restrictions : | A | >= | B |</b></span></td></td>
                    </tr>
                    <tr>
                        <th>Eulerian Number A(m,n)</th>
                        <%if(eulaResult!=null){%>
                             <td><%=eulaResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="eula" name="action" style="width:10em;">Eulerian Number</button></td>
                         <td class="memo"># Permutations of the numbers 1 to A(m) in which exactly B(n) elements are greater than the previous element</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
<%-include("partials/footer")%>