<%-include("partials/header")%>
    <form action="/index" method="POST">
        <div class="mx-auto" style="width: 90%;">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Formula</th>
                        <th scope="col" width="20%">
                            <div class="row">
                                <label for="inputN" class="col-sm-2">N=</label>
                                <input id="inputN" type="number" name="input[N]" min="1" max ="170" class="form-control col-sm-4" style="height:1.5em" required>
                                <label for="inputR" class="col-sm-2">R=</label>
                                <input id="inputR" type="number" name="input[R]" min="0" max ="170" class="form-control col-sm-4" style="height:1.5em" required>
                            </div>
                        </th>
                        <th scope="col"><button class="btn btn-light btn-sm" type="submit" value="Submit" value="all" name="action" style="width:10em;">Compute all</button></th>
                        <th scope="col">Order relevant</th>
                        <th scope="col">Repetition</th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>P(n,r)</th>
                        <%if(permutationResult!=null){%>
                             <td> <%=permutationResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="permutation" name="action" style="width:10em;">Permutation</button></td>
                         <td>yes</td>
                         <td>no</td>
                         <td class="memo"># Permutations of size r from n distinct objects</td>
                    </tr>
                    <tr>
                        <th>C(n,r)</th>
                        <%if(combinationResult!=null){%>
                             <td> <%=combinationResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="combination" name="action" style="width:10em;">Combination</button></td>
                         <td>no</td>
                         <td>no</td>
                         <td class="memo"># Selections/Combinations of size r from n distinct objects</td>
                    </tr>
                    <tr>
                        <th>n<sup>r</sup></th>
                        <%if(arrangeResult!=null){%>
                             <td> <%=arrangeResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="arrange" name="action" style="width:10em;">Arrangement with repetition</button></td>
                         <td>yes</td>
                         <td>yes</td>
                         <td class="memo"># Arrangements with repetition of size r from n distinct objects</td>
                    </tr>
                    <tr>
                        <th>C(r+n-1,r)</th>
                        <%if(selectResult!=null){%>
                             <td> <%=selectResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="select" name="action" style="width:10em;">Selection with repetition</button></td>
                         <td>no</td>
                         <td>yes</td>
                         <td class="memo"># Selections with repetition of size r from n distinct objects</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
<%-include("partials/footer")%>