<%-include("partials/header")%>
    <form action="/numbers" method="POST">
        <div class="mx-auto" style="width: 90%;">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Formula</th>
                        <th scope="col" width="20%">
                            <div class="row">
                                <label for="inputN" class="col-sm-2">N=</label>
                                <input id="inputN" type="number" name="input[N]" min="0" class="form-control col-sm-4" style="height:1.5em" required>
                            </div>
                        </th>
                        <th scope="col"><button class="btn btn-light btn-sm" type="submit" value="Submit" value="all" name="action" style="width:10em;">Compute all</button></th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Catalan Numbers</th>
                        <%if(catalanResult!=null){%>
                             <td><%=catalanResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="catalan" name="action" style="width:10em;">Catalan</button></td>
                         <td class="memo"># Equivalant to C(2n,n)/(n+1)</td>
                    </tr>
                    <tr>
                        <th>Triangular Numbers</th>
                        <%if(triangularResult!=null){%>
                             <td><%=triangularResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="triangular" name="action" style="width:10em;">Triangular</button></td>
                         <td class="memo"># The n<sup>th</sup> triangular number is the number of dots in the triangular arrangement with n dots on a side</td>
                    </tr>
                    <tr>
                        <th>Harmonic Numbers</th>
                        <%if(harmonicResult!=null){%>
                             <td><%=harmonicResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="harmonic" name="action" style="width:10em;">Harmonic</button></td>
                         <td class="memo"># Each Harmonic number is the sum of the reciprocals of the first n natural numbers<br>
                         <span style="text-decoration: underline;"><b># Restrictions : Start with H<sub>1</sub></b></span></td></td>
                    </tr>
                    <tr>
                        <th>Fibonacci Numbers</th>
                        <%if(fibonacciResult!=null){%>
                             <td><%=fibonacciResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="fibonacci" name="action" style="width:10em;">Fibonacci</button></td>
                         <td class="memo"># Each Fibonacci number is the sum of the two previous terms</td>
                    </tr>
                    <tr>
                        <th>Lucas Numbers</th>
                        <%if(lucasResult!=null){%>
                             <td><%=lucasResult%></td>
                        <%}else{%>
                                <td></td>
                         <%}%>
                         <td><button class="btn btn-secondary btn-sm" type="submit" value="lucas" name="action" style="width:10em;">Lucas</button></td>
                         <td class="memo"># Each Lucas number is the sum of its two immediate previous terms</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
<%-include("partials/footer")%>