<%-include("partials/header")%>
    <h1 class="text-center mt-3">Combinatorial Calculator</h1>
    <form action="/numbers" method="POST">
        <div class="ml-3 mt-3">
            <label for="inputN">N=</label>
            <input id="inputN" type="number" name="input[N]" min="0" value="1" max ="170" required>
        </div>

        <div class="ml-3 mt-3">
            <!-- Third table - Numbers -->
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Formula</th>
                        <th scope="col">Result</th>
                        <th scope="col">Button</th>
                        <th scope="col">Order relevant</th>
                        <th scope="col">Repetition</th>
                        <th scope="col">Memo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Catalan Numbers</th>
                        <%if(catalanResult!=null){%>
                             <td><%=catalanResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Triangular Numbers</th>
                        <%if(triangularResult!=null){%>
                             <td><%=triangularResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Harmonic Numbers</th>
                        <%if(harmonicResult!=null){%>
                             <td><%=harmonicResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Fibonacci Numbers</th>
                        <%if(fibonacciResult!=null){%>
                             <td><%=fibonacciResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
                    <tr>
                        <th>Lucas Numbers</th>
                        <%if(lucasResult!=null){%>
                             <td><%=lucasResult%></td>
                        <%}else{%>
                                <td>...</td>
                         <%}%>
                    </tr>
            </table>
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
<%-include("partials/footer")%>